extends layout

block content
  div.w3-container
    h1.w3-center= 'Entidade - ' + e.designacao
    h3 Parâmetros
      table.w3-table-all.w3-medium
        tr
          th 
            u Estado
          th 
            u Sigla
          th 
            u SIOE
          th 
            u Designacao
          th 
            u Internacional
          tr
              td= e.estado
              td= e.sigla
              td= e.sioe
              td= e.designacao
              td= e.internacional
    br          
    h3 Tipologias
      table.w3-table-all.w3-medium
        tr
            th 
              u Sigla
            th 
              u Designacao
            th 
              u Id
            th
              u Consultar
        each t in e2
            tr
                td
                  a(href="http://clav-api.dglab.gov.pt/api/tipologias/" + t.id + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank")= t.sigla
                td= t.designacao
                td= t.id
                td
                  a(href="http://clav-api.dglab.gov.pt/api/tipologias/" + t.id + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank") Ver
    br            
    h3 Dono - Intervenções
      table.w3-table-all.w3-medium
          tr
              th 
                u Codigo
              th 
                u Titulo
              th
                u Consultar
          each d in e3
              tr
                  td
                    a(href="http://clav-api.dglab.gov.pt/api/classes/c" + d.codigo + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank")= d.codigo
                  td= d.titulo
                  td
                    a(href="http://clav-api.dglab.gov.pt/api/classes/c" + d.codigo + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank") Ver
    br
    h3 Participante - Intervenções
      table.w3-table-all.w3-medium
          tr
              th 
                u Tipo Par
              th 
                u Codigo
              th 
                u Titulo
              th
                u Consultar
          each p in e4
              tr
                  td= p.tipoPar
                  td 
                    a(href="http://clav-api.dglab.gov.pt/api/classes/c" + p.codigo + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank")= p.codigo
                  td= p.titulo
                  td
                    a(href="http://clav-api.dglab.gov.pt/api/classes/c" + p.codigo + "?apikey=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1Nzg4NjAwNTQsImV4cCI6MTU4MTQ1MjA1NH0.HIlH4_Ao6504qaLhhbZ2_OtDzaZaG5FeYy-Yc2d9lwQ" target="_blank") Ver
      br
      footer.w3-footer.w3-medium
        b By: Diogo Silva 
        a(href="https://github.com/diogogsilva/dweb2019") (GitHub)
        br
        a(href="http://localhost:9999/") Voltar ao Início
